<link rel="stylesheet" href="/css/login.css">
<%for(let e of errors) {%>
    <div id="error-box" class="visible">
        <h3><%=e%>&nbsp;<i class="fas fa-exclamation-triangle"></i></h3>
        <p>
            For any assitance,kindly visit us.
        </p>
        <button id="retry-login">Retry</button>
    </div>
<%}%>
<h2 id="request-to-join">Hey! Login and join</h2>
<form action="/createsession" method="post" id="login-form">
    <input type="email" name="email" required placeholder="Email">
    <input type="password" name="password" required placeholder="Password">
    <br>
    <button type="submit" name="Login" id="join">Login</button>
    <br>
    <a href="/signup" id="new-entry">Create new account</a>
</form>
<script src="/js/login.js"></script>
