nav{
    display: flex !important;
    justify-content: space-between !important;
    background-color: rgb(33, 33, 44) !important;
    font-weight: 650 !important;
    padding: 10px 4px 10px 4px !important;
    a{
        color: white !important;
        text-decoration: none !important;
    }
    #nav-right{
        padding-top: 3px !important;
    }
    #nav-right a{
        padding: 7px !important;
        border: 1px solid white !important;
        margin-top: 4px !important;
    }
    #nav-right a:hover{
        background-color: white !important;
        color: navy !important;
    }
}
