#user-area{
    display: flex;
    aside{
        width: 20%;
        background-color: white;
        height: 85vh;
        ul{
            list-style: none;
            li{
                padding: 3px;
                margin-top: 10px;
                position: relative;
                a{
                    display: flex;
                    justify-content: space-between;
                    width: 100%!important;
                    text-decoration: none;
                    color: black;
                    span{
                        display: inline-block;
                    }
                    i{
                        margin-top: 1%;
                        display: inline-block;
                        color: gray;
                    }
                }
                a:hover{
                    background-color: black;
                    color: white;
                    i{
                        color: white;
                    }
                }
                .invisible{
                    display: none;
                }
                .visible{
                    display: block;
                    padding: 10px;
                    background-color: white;
                    position: absolute;
                    right:-34%;
                    h5{
                        margin-bottom: 12px;
                    }
                    a{
                        background-color: black;
                        color: white;
                        padding: 5px;
                        border-radius: 5px;
                        margin-top: 10px;
                    }
                    .yes{
                        margin-right: 14px;
                    }
                }
            }
        }
    }
    main{
        .invisible{
            display: none;
        }
        button{
            display: block;
            margin: auto;
            margin-top: 1rem;
            background-color: rgb(73, 182, 225);
            color: white;
            border: none;
            padding: 5px;
            border-radius: 5px;
        }
        button:hover{
            cursor: pointer;
            background-color: rgb(0, 154, 215);
            color: white;
        }
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 80%;
        #transact-err-disp{
            width: fit-content;
            position: absolute;
            background-color: white;
            top: 6%;
            left: 54.5%;
            border: 2px solid red;
            padding: 4px;
            a{
                text-decoration: none;
                display: block;
                width: fit-content;
                margin: auto;
                margin-top: 1rem;
                background-color: rgb(73, 182, 225);
                color: white;
                border: none;
                padding: 5px;
                border-radius: 5px;
            }
            a:hover{
                cursor: pointer;
                background-color: rgb(0, 154, 215);
                color: white;
            }
        }
        .row{
            display: flex;
            justify-content: space-around;
            table,form{
                max-height: 190px;
                max-width: 400.36px;
                min-width: 400.36px;
                background-color: white;
                border-radius: 7px;
                padding: 15px;
            }
            form{
               ul{
                list-style: none;
                li{
                    position: relative;
                    padding-left: 8px;
                    margin-bottom: 7px;
                }
                li::before{
                    content: '';
                    background-color: rgb(20, 19, 19);
                    height: 6px;
                    width: 6px;
                    border-radius: 50%;
                    position: absolute;
                    left:0%;
                    top:40%;
                }
               }
                input:focus,textarea:focus{
                    outline: none;
                }
                input,textarea{
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid black;
                    margin-top: 1rem;
                    resize: none;
                }
            }
        }
    }
}