
h2{
    text-align: center;
    margin-top: 13%;
}
#take-input{
    width: 42%;
    margin: auto;
    padding: 10px;
    background-color: white;
    text-align: center;
    input:focus{
        outline: none;
    }
    input{
        width: 100%;
        border: none;
        border-bottom: 1px solid black;
        margin-top: 1rem;
    }
    .row{
        display: flex;
        justify-content: space-around;
        .col{
            width: 40%;
        }
    }
    button{
        margin-top: 1rem;
        background-color: rgb(28, 23, 23);
        color: white;
        padding: 5px;
        border-radius: 5px;
        border: 2px solid black;
        font-size: 0.8rem;
    }
    button:hover{
        cursor: pointer;
        background-color: black;
    }
}

